/* You can add global styles to this file, and also import other style files */
:root {
  --c-primary: #060504;
  --c-secondary: #f0690b;
  --bg-primary: #060504;
  --bg-secondary: #f0690b;
  --bs-heading-color: var(--c-primary);
}
