<div class="nav-bar gap-2">
  <div class="avatar-block d-flex">
    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/120535999" alt="Avatar Image" />
  </div>

  <nav class="nav-list">
    @for (menuItem of menuList(); track $index) {
    <a class="nav-item" [ngClass]="{ activated: menuItem.id === activatedItem() }" (click)="navigateTo(menuItem)">{{
      menuItem.name }}</a>
    }
  </nav>
  <button class="btn btn-menu" (click)="toggleMenu()">
    @if(isShowMenu()){
    <i class="fa-solid fa-circle-xmark"></i>
    } @else {
    <i class="fa-solid fa-bars"></i>
    }
  </button>
</div>

<nav class="nav-list-mobile" [ngClass]="{ 'is-show': isShowMenu() }">
  @for (menuItem of menuList(); track $index) {
  <a class="nav-item" [ngClass]="{ activated: menuItem.id === activatedItem() }" (click)="navigateTo(menuItem)">{{
    menuItem.name }}</a>
  }
</nav>