<p-menubar [model]="menuItems" class="top-menubar">
  <ng-template pTemplate="item" let-item>
    <a [routerLink]="item.routerLink"  class="p-menuitem-link top-menuitem"
       [fragment]=item.fragment [ngClass]="{'is-active' : item.fragment === fragment()}"
    >
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pRipple
      type="button"
      class="flex align-items-center p-menuitem-link  p-button"
      (click)="switchTheme()"
    >
      <span [ngClass]="isDarkMode() ? 'pi-moon' : 'pi-sun' " class="icon pi"></span>
      <span class="ml-2">Switch Theme</span>
    </button>

  </ng-template>
</p-menubar>
