{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "src/app/data/cv-data*.json",
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
