<div class="app-container">
  <app-nav-bar [activeSection]="currentActiveSection()" class="app-nav-bar"></app-nav-bar>
  <div class="main-container">
    <app-about appActiveSection (sectionIntersecting)="onSectionActive('about', $event)"></app-about>
    <app-experience appActiveSection (sectionIntersecting)="onSectionActive('experience', $event)"></app-experience>
    <app-education appActiveSection (sectionIntersecting)="onSectionActive('education', $event)"></app-education>
    <app-skills appActiveSection (sectionIntersecting)="onSectionActive('skills', $event)"></app-skills>
    <app-hobbies appActiveSection (sectionIntersecting)="onSectionActive('hobbies', $event)"></app-hobbies>
  </div>
</div>
