<!--<p-sidebar [visible]="leftMenuInvisible()" (visibleChange)="handleInvisibleChange($event)">-->
<div class="sidebar-container">
  @for (item of menuItems; track item) {
    <p-button
      [routerLink]="item.routerLink"
      [fragment]="item.fragment"
      [ngClass]="{'is-active' : item.fragment === fragment()}"
      pRipple
      class="flex align-items-center"
      [text]="true"
    >
      <span class="icon {{item.icon}}"></span>
      <span class="p-button-label ml-2">{{ item.label }}</span>
    </p-button>
  }
</div>
