<form [formGroup]="loginForm" (ngSubmit)="login()" class="form-login">
  <p-card header="Login Form" class="card-login">
    <div class="p-field">
      <button
        icon="pi pi-google"
        type="button"
        pButton
        label="Login with Google"
        (click)="loginWithGoogle()"
      ></button>
    </div>
    <p-divider></p-divider>
    <div class="p-field">
      <p-floatLabel>
        <label for="username">Username</label>
        <input pInputText type="text" formControlName="username" id="username"/>
      </p-floatLabel>
    </div>
    <div class="p-field">
      <p-floatLabel>
        <label for="password">Password</label>
        <input
          pInputText
          type="password"
          id="password"
          formControlName="password"
        />
      </p-floatLabel>
    </div>

    <ng-template pTemplate="footer">
      <button
        type="submit"
        pButton
        label="Login"
        [disabled]="loginForm.invalid"
      ></button>
    </ng-template>
  </p-card>
</form>
